<div class="1col">
    <h4>{{ flexibleSubtitle }}</h4>
    <h2>{{ flexibleTitle }}</h2>
    {% for image in flexibleImages %}
        <img src="{{ image.src }}" alt="{{ image.title }}"/>
    {% endfor %}
</div>
