services:
  _defaults:
    autoconfigure: true
    autowire: true

  Guave\FlexibleContentBundle\:
    resource: ../src
    exclude: ../src/{ContaoManager,DependencyInjection}

  Guave\FlexibleContentBundle\Migration\:
    resource: ../src/Migration
    tags:
      - { name: contao.migration, priority: 0 }
