<h1>{{ flexibleTitle }}</h1>
<h2>{{ flexibleSubtitle }}</h2>
<div class="flex-container">
    <div class="flex-column">
        {{ flexibleText|raw }}
    </div>
    <div class="flex-column">
        {{ flexibleTextColumn|raw }}
    </div>
</div>
